<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <span class="navbar-brand mb-0 h1">MatousKadula</span>



    <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        {% url 'public:index' as index_url%}
        {% if request.path == index_url %}
        <li class="nav-item active">
        {% else %}
        <li class="nav-item">
        {%endif%}
     
        <a class="nav-link" href="{% url 'public:index'%}">Home</a>
      </li>
      {% url 'accounts:customers' as customers_url%}
        {% if request.path == customers_url %}
        <li class="nav-item active">
        {% else %}
        <li class="nav-item">
        {%endif%}
      {% if user.is_authenticated%}
      
        <a class="nav-link" href="{% url 'accounts:customers'%}">Customers</a>     
      </li>
      {%else%}{%endif%}
      {% url 'accounts:employee' as employee_url%}
        {% if request.path == employee_url %}
        <li class="nav-item active">
        {% else %}
        <li class="nav-item">
        {%endif%}
      {% if request.user.is_superuser %}
     
        <a class="nav-link" href="{% url 'accounts:employee'%}">Employee</a>
      </li>
      {%else%}{%endif%}
   
    </ul>
</div>

    <span style="float:right">
        {% if user.is_authenticated%}
        <span>{{user.username}}</span>       
        <a href="{% url 'accounts:logout'%}"><button type="button" class="btn btn-warning">Logout</button></a>
        {%else%}
        <a href="{% url 'accounts:login'%}"><button type="button" class="btn btn-success">Login</button></a>
        {%endif%}
    </span>
  
</nav>
</div>